:root {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: Norse;
    src: url(/Media/Norse-Bold\(2\).otf);
}

body {
    background-color: rgb(43, 39, 39);


}

#page {
    background-color: white;
    display: grid;
    grid-template-columns: 40% 60% ;
}

#logo {
}

#name {
    align-self: center;
    font-size: 25rem;
    color: white;
    font-family: Norse;
}

#logoback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 500px;
    max-height: 500px;
    min-height: 500px;
    background-color: rgb(0, 0, 0, .5);
}

#left {
    height: 100vh;
    background-image: url(/Media/halie-west-25xggax4bSA-unsplash\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#description {
    padding: 0 10%;
    padding-top: 10%;
    font-size: 4.5rem;
}

#signupform {
    font-size: 4.5rem;
    font-weight:900;
    background-color: white;
    padding-top: 3%;
    padding-left: 10%;
}

#form {
    font-size: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
    background-color: white;
    padding: 2% 10%;
    box-shadow: 1rem 1rem 1rem grey;
    height: 100%;

}   

input, textarea {
    font-size: 4.5rem;
    width: 100%;
}

input {
    border-radius: 1rem;
}

#signup {
    background-color: rgb(248, 248, 248);
}

#submit {
    margin: 5rem 0;
    font-size: 4.5rem ;
    padding-left: 10%;
}

#create {
    background-color:#596d48;
    color: white;
    padding: 25px;
    border-radius: 2rem;
    width: 750px;
}

#login {
    display: flex;
    padding-left: 10%;
    font-size: 2rem;
}
input:focus {
    border-color: steelblue;
}

a, login-button {
    padding-top: 33px;
    padding-left: 5px;
    color: #637552;
    font-size: 4rem;
    width: 20vh;
    height: 100px;
}

